<div class="container">
    <div class="panel-body">
        <h3>Booking
            <small>예약하기</small>
        </h3>
    </div>
</div>


<div class="container" style="margin-bottom: 30px;" id="booking">
    <div class="row">
        <div class="col-md-8" ng-show="res">
            <div class="panel panel-primary">
                <div class="panel-heading">예약 <i ng-click="res = !res" class="fa fa-times"></i></div>
                <div class="panel-body">
                    <h4>게임 : {{name[game.type]}}</h4>
                    <h4>시간 : {{game.date.toDateString()}}</h4>
                    <h4>
                        인원
                <span style="margin-left:10px;" class="label"
                      ng-class="{'label-default':info.size!=1,'label-success':info.size==1}"
                      ng-click="info.size=1">1</span>
                <span class="label" ng-class="{'label-default':info.size!=2,'label-success':info.size==2}"
                      ng-click="info.size=2">2</span>
                <span class="label" ng-class="{'label-default':info.size!=3,'label-success':info.size==3}"
                      ng-click="info.size=3">3</span>
                <span class="label" ng-class="{'label-default':info.size!=4,'label-success':info.size==4}"
                      ng-click="info.size=4">4</span>
                <span class="label" ng-class="{'label-default':info.size!=5,'label-success':info.size==5}"
                      ng-click="info.size=5">5</span>
                    </h4>
                    <h4>가격 : <i class="fa fa-krw"></i> {{price[info.size]||0}}</h4>

                    <input class="form-control" placeholder="예약자명" ng-model="info.name">
                    <input class="form-control" placeholder="이메일" ng-model="info.email">
                    <input class="form-control" placeholder="연락처" ng-model="info.phone">
                    <textarea class="form-control" placeholder="메모" ng-model="info.memo"></textarea>
                </div>
                <div class="panel-footer">

                    <div class="btn btn-primary" ng-click="booking()" ng-disabled="err(info)">예약하기
                    </div>
                    <small ng-show="err(info)"> {{err(info)}}</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div date-picker="date" min-view="date" max-view="date"></div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>시간</td>
            <td dropdown>
                <span dropdown-toggle ng-click>
                    {{name[filter.type]||"전체테마"}} <span class="caret"></span>
                </span>
                <ul class="dropdown-menu">
                    <li ng-click="filter.type=undefined"><a>전체</a></li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, value) in name"><a ng-click="filter.type = key">{{value}}</a></li>
                </ul>
            </td>
            <td>
                난이도
            </td>
            <td dropdown>
                    <span dropdown-toggle ng-click>
                        {{oname[filter.occupied]||"예약현황"}} <span class="caret"></span>
                    </span>
                <ul class="dropdown-menu">
                    <li ng-click="filter.occupied=undefined"><a>전체</a></li>
                    <li class="divider"></li>
                    <li ng-click="filter.occupied='a'"><a>예약가능</a></li>
                    <li ng-click="filter.occupied='o'"><a>예약마감</a></li>
                </ul>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in filteredGames = (games | orderBy:'date' | filter:filter)">
            <td>{{game.date.toTime()}}</td>
            <td>{{name[game.type]}}</td>
            <td><i class="fa fa-cog" ng-repeat="d in diff[game.type]"></i></td>
            <td>
                <span ng-show="game.occupied=='a'" class="green" ng-click="reserve(game)">예약가능</span>
                <span ng-show="game.occupied=='o'" class="red">예약마감</span>
            </td>
        </tr>
        <tr ng-show="filteredGames.length==0">
            <td></td>
            <td colspan="3">조건에 맞는 게임이 없습니다.</td>
        </tr>
        </tbody>

    </table>


</div>