<div class="container">
    <div class="panel-body">
        <h3>Booking
            <small>관리자</small>
        </h3>
    </div>
</div>


<div class="container" style="margin-bottom: 30px;" id="booking">
    <div class="row">
        <div date-picker="date" min-view="date" max-view="date"></div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>시간</td>
            <td dropdown>
                <span dropdown-toggle ng-click>
                    {{name[filter.type]||"전체테마"}} <span class="caret"></span>
                </span>
                <ul class="dropdown-menu">
                    <li ng-click="filter.type=undefined"><a>전체</a></li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, value) in name"><a ng-click="filter.type = key">{{value}}</a></li>
                </ul>
            </td>
            <td dropdown>
                    <span dropdown-toggle ng-click>
                        {{oname[filter.occupied]||"예약현황"}} <span class="caret"></span>
                    </span>
                <ul class="dropdown-menu">
                    <li ng-click="filter.occupied=undefined"><a>전체</a></li>
                    <li class="divider"></li>
                    <li ng-click="filter.occupied='a'"><a>예약가능</a></li>
                    <li ng-click="filter.occupied='o'"><a>예약마감</a></li>
                </ul>
            </td>
            <td>예약자</td>
            <td>연락처</td>
            <td>메모</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in filteredGames = (games | orderBy:'date' | filter:filter)">
            <td>{{game.date.toTime()}}</td>
            <td>{{name[game.type]}}</td>
            <td>
                <span ng-show="game.occupied=='a'" class="green">예약가능</span>
                <span ng-show="game.occupied=='o'" class="red">예약마감</span>
            </td>
            <td>{{game.info.name}}</td>
            <td>{{game.info.email}} {{game.info.phone}}</td>
            <td>{{game.info.memo}}</td>
        </tr>
        <tr ng-show="filteredGames.length==0">
            <td></td>
            <td colspan="3">조건에 맞는 게임이 없습니다.</td>
        </tr>
        </tbody>

    </table>


</div>