<div class="container">
    <div class="panel-body">
        <h3>FAQ
            <small>질문과 답변</small>
        </h3>
    </div>
</div>
<div class="container">


    <div class="row">
        <div class="col-md-8">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="question in questions">
                    <h4>{{question.question}}</h4>

                    <p ng-bind-html="question.answer"></p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">더 궁금하신 사항</div>
                <div class="panel-body">
                    <input class="form-control" placeholder="답변받으실 Email" ng-model="question.email">
                    <input class="form-control" placeholder="답변받으실 전화번호" ng-model="question.phone">
                    <textarea class="form-control" placeholder="궁금하신 사항" ng-model="question.body"></textarea>
                </div>
                <div class="panel-footer">
                    <div class="btn btn-primary" ng-click="send()" ng-disabled="error()">문의 보내기</div>
                    <span ng-show="error()">{{error()}}</span>
                </div>
            </div>
        </div>
    </div>
</div>